# `sheldon` configuration file
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

# https://sheldon.cli.rs/Examples.html#deferred-loading-of-plugins-in-zsh
[templates]
defer = "{{ hooks | get: \"pre\" | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks | get: \"post\" | nl }}"

[plugins]

# zsh-defer must be loaded first for deferred loading
[plugins.zsh-defer]
github = 'romkatv/zsh-defer'

# fzf-tab: must be loaded after compinit, before autosuggestions/syntax-highlighting
# https://github.com/Aloxaf/fzf-tab#install
[plugins.fzf-tab]
github = 'Aloxaf/fzf-tab'
[plugins.fzf-tab.hooks]
pre = """
# Initialize completion system (cached, security check once per day)
autoload -Uz compinit
if [[ -n ${ZDOTDIR:-$HOME}/.zcompdump(#qN.mh+24) ]]; then
  compinit
else
  compinit -C
fi
"""

[plugins.zsh-syntax-highlighting]
apply = ["defer"]
github = 'zsh-users/zsh-syntax-highlighting'

[plugins.zsh-autosuggestions]
apply = ["defer"]
github = 'zsh-users/zsh-autosuggestions'

[plugins.fzf-git]
apply = ["defer"]
github = "junegunn/fzf-git.sh"
use = ["fzf-git.sh"]
