---
- hosts: all
  tasks:
    - name: Install google chrome
      become: yes
      apt: 
        deb: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    - name: Setup dotfiles
      become: yes
      block:
        - name: Install git
          apt:
            name: git
            state: latest
            update_cache: yes
        - name: Clone dotfiles
          git:
            repo: 'https://github.com/bob1983/dotfiles.git'
            dest: /home/bob/dotfiles
            update: no
    - name: Install essential packages
      become: yes
      apt:
        name: "{{ item }}"
        state: latest
        update_cache: yes
      loop:
        - build-essential
        - curl
        - direnv
        - jq
        - tmux
        - xclip


