---
- hosts: all
  tasks:
    - name: Install google chrome
      become: yes
      apt:
        deb: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    - name: Setup git
      become: yes
      block:
        - name: Install git
          apt:
            name: git
            state: latest
            update_cache: yes
        - name: Install libgnome-keyring-dev
          apt:
            name: libgnome-keyring-dev
            state: latest
            update_cache: yes
        - name: build
          make:
            chdir: /usr/share/doc/git/contrib/credential/gnome-keyring
        - name: Make symlink
          file:
            src: /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
            dest: /usr/lib/git-core/git-credential-gnome-keyring
            owner: root
            group: root
            mode: '777'
            state: link
    - name: Setup dotfiles
      become: yes
      block:
        - name: Clone dotfiles
          git:
            repo: 'https://github.com/bob1983/dotfiles.git'
            dest: /home/bob/dotfiles
            update: no
        - name: Add thoughtbot keyring
          apt_key:
            url: 'https://apt.thoughtbot.com/thoughtbot.gpg.key'
            state: present
        - name: Add thoughtbot soucelist
          apt_repository:
            repo: deb https://apt.thoughtbot.com/debian/ stable main
            state: present
            filename: thoughtbot
        - name: Install rcm
          apt:
            name: rcm
            state: latest
            update_cache: yes
    - name: Install essential packages
      become: yes
      apt:
        name: "{{ item }}"
        state: latest
        update_cache: yes
      loop:
        - build-essential
        - curl
        - direnv
        - jq
        - tmux
        - xclip
    - name: Ensure /home/bob/.fonts dir exists
      file:
        path: /home/bob/.fonts
        state: directory
    - name: Install fonts
      get_url:
        url: "{{ item }}"
        dest: /home/bob/.fonts/
      loop:
        - 'https://github.com/romkatv/dotfiles-public/raw/master/.local/share/fonts/NerdFonts/MesloLGS%20NF%20Regular.ttf'
        - 'https://github.com/romkatv/dotfiles-public/raw/master/.local/share/fonts/NerdFonts/MesloLGS%20NF%20Bold.ttf'
        - 'https://github.com/romkatv/dotfiles-public/raw/master/.local/share/fonts/NerdFonts/MesloLGS%20NF%20Italic.ttf'
        - 'https://github.com/romkatv/dotfiles-public/raw/master/.local/share/fonts/NerdFonts/MesloLGS%20NF%20Bold%20Italic.ttf'
      register: install_font_result
    - name: Update font cache
      shell: fc-cache -fv
      when: install_font_result.changed
    - name: Configure zsh
      block:
        - name: Install zsh
          become: yes
          apt:
            name: zsh
            state: latest
            update_cache: yes
        - name: Use zsh as a login shell
          become: yes
          user:
            name: bob
            shell: /bin/zsh
        - name: Check .zplug dir
          stat:
            path: /home/bob/.zplug
          register: zplug_dir
        - name: Install zplug
          shell: "curl -sL --proto-redir -all,https https://raw.githubusercontent.com/zplug/installer/master/installer.zsh | zsh"
          when: not zplug_dir.stat.exists
    - name: Install vscode
      become: yes
      snap:
        name: code
        classic: yes
    - name: Install setting sync
      shell: code --install-extension Shan.code-settings-sync
    - name: Setup ruby
      block:
        - name: Install dependencies
          become: yes
          apt:
            name: "{{ item }}"
            state: latest
            update_cache: yes
          loop:
            - autoconf
            - bison
            - build-essential
            - libssl-dev
            - libyaml-dev
            - libreadline6-dev
            - zlib1g-dev
            - libncurses5-dev
            - libffi-dev
            - libgdbm5
            - libgdbm-dev
    - name: Install rbenv
      block:
        - name: Install rbenv
          git:
            repo: https://github.com/rbenv/rbenv.git
            dest: /home/bob/.rbenv
        - name: Install ruby-build
          git:
            repo: https://github.com/rbenv/ruby-build.git
            dest: /home/bob/.rbenv/plugins/ruby-build
    - name: Install nodenv
      block:
        - name: Install nodenv
          git:
            repo: https://github.com/nodenv/nodenv
            dest: /home/bob/.nodenv
        - name: Generate Makefile
          shell:
            chdir: /home/bob/.nodenv
            cmd: src/configure
        - name: Install nodenv bin
          make:
            chdir: /home/bob/.nodenv/src
        - name: Install node-build
          git:
            repo: https://github.com/nodenv/node-build
            dest: /home/bob/.nodenv/plugins/node-build
    - name: Install pyenv
      block:
        - name: Install pyenv
          git:
            repo: https://github.com/pyenv/pyenv
            dest: /home/bob/.pyenv
        - name: Install python build dependencies
          become: yes
          apt:
            name: "{{ item }}"
          loop:
            - make
            - build-essential
            - libssl-dev
            - zlib1g-dev
            - libbz2-dev
            - libreadline-dev
            - libsqlite3-dev
            - wget
            - curl
            - llvm
            - libncurses5-dev
            - xz-utils
            - tk-dev
            - libxml2-dev
            - libxmlsec1-dev
            - libffi-dev
            - liblzma-dev
