
[terminal.shell]

program = {{- if eq .chezmoi.os "darwin" -}}
  "/opt/homebrew/bin/zsh"
{{- else if .chezmoi.kernel.osrelease | contains "WSL" -}}
  "/Windows/System32/wsl.exe ~ -d Ubuntu-24.04"
{{- else -}}
  "/bin/zsh"
{{ end }}


[window]

dimensions = { "columns" = 120, "lines" = 64 }
position = { "x" = 0, "y" = 0 }
opacity = 0.85

[scrolling]

history = 30000

[font]

normal = { "family" = "PlemolJP Console NF", "style" = "Regular" }
bold = { "family" = "PlemolJP Console NF", "style" = "Bold" }
italic = { "family" = "PlemolJP Console NF", "style" = "Italic" }

{{ if and (hasKey .chezmoi.kernel "osrelease") (.chezmoi.kernel.osrelease | contains "WSL") }}
size = 12.0
{{ else }}
size = 16.0
{{ end }}

[mouse]

hide_when_typing = true

[keyboard]

bindings = [
  # alt to command key like Mac
  { "key" = "V", "mods" = "Alt", "action" = "Paste" },
  { "key" = "C", "mods" = "Alt", "action" = "Copy" },

  # Make backslash enabled on osx
  { "key" = "¥", "chars" = "\\" },

  { "key" = ";", "mods" = "Command", "action" = "IncreaseFontSize" }, # Command + ; to increase font size
  { "key" = "-", "mods" = "Command", "action" = "DecreaseFontSize" }, # Command + - to decrease font size
  { "key" = "0", "mods" = "Command", "action" = "ResetFontSize"},     # Command + 0 to reset font size

  { "key" = "W", "mods" = "Alt", "action" = "Quit" },
  { "key" = "N", "mods" = "Alt", "action" = "SpawnNewInstance" },
  { "key" = "M", "mods" = "Shift | Alt", "action" = "ToggleMaximized" },

  # Commented out because this conflicts with vi-forward-word
  # { "key" = "F", "mods" = "Alt", "action" = "SearchForward" },

  # Mac の option キーを Meta キーとする設定
  { key = "A", mods = "Alt", chars = "\u001Ba" },
  { key = "B", mods = "Alt", chars = "\u001Bb" },
  { key = "C", mods = "Alt", chars = "\u001Bc" },
  { key = "D", mods = "Alt", chars = "\u001Bd" },
  { key = "E", mods = "Alt", chars = "\u001Be" },
  { key = "F", mods = "Alt", chars = "\u001Bf" },
  { key = "G", mods = "Alt", chars = "\u001Bg" },
  { key = "H", mods = "Alt", chars = "\u001Bh" },
  { key = "I", mods = "Alt", chars = "\u001Bi" },
  { key = "J", mods = "Alt", chars = "\u001Bj" },
  { key = "K", mods = "Alt", chars = "\u001Bk" },
  { key = "L", mods = "Alt", chars = "\u001Bl" },
  { key = "M", mods = "Alt", chars = "\u001Bm" },
  { key = "N", mods = "Alt", chars = "\u001Bn" },
  { key = "O", mods = "Alt", chars = "\u001Bo" },
  { key = "P", mods = "Alt", chars = "\u001Bp" },
  { key = "Q", mods = "Alt", chars = "\u001Bq" },
  { key = "R", mods = "Alt", chars = "\u001Br" },
  { key = "S", mods = "Alt", chars = "\u001Bs" },
  { key = "T", mods = "Alt", chars = "\u001Bt" },
  { key = "U", mods = "Alt", chars = "\u001Bu" },
  { key = "V", mods = "Alt", chars = "\u001Bv" },
  { key = "W", mods = "Alt", chars = "\u001Bw" },
  { key = "X", mods = "Alt", chars = "\u001Bx" },
  { key = "Y", mods = "Alt", chars = "\u001By" },
  { key = "Z", mods = "Alt", chars = "\u001Bz" },
]

[env]

TERM = "xterm-256color"

[general]
live_config_reload = true

import = [
    "~/.config/alacritty/themes/github_dark_default.toml"
]

[terminal]
