'.platform-darwin':
  'cmd-¥': 'tree-view:toggle'
  # I tried to map ctrl-@ but it doesn't work if I use that shortcut twice
  'ctrl-cmd-o': 'platformio-ide-terminal:toggle'
'.platform-linux body':
  'alt-s': 'core:save'
  'alt-c': 'core:copy'
  'alt-v': 'core:paste'
  'ctrl-,': 'application:show-settings'
  'ctrl-alt-p': 'command-palette:toggle'
'.platform-linux atom-workspace':
  'alt-shift-o': 'advanced-open-file:toggle'
